<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_SonicHesap_Connection" connectionString="XpoProvider=MSSqlServer;data source=(localdb)\Tuncay;integrated security=SSPI;initial catalog=SonicHesap" />
    </connectionStrings>
</configuration>